# ARCEUS XD WhatsApp Bot
BOT_NAME="𝗔𝗥𝗖𝗘𝗨𝗦 𝗫𝗗"
OWNER_NAME="𝗦𝗢𝗨𝗠𝗜𝗞"
OWNER_NUMBER="918420027377"
PREFIX="."
WORK_TYPE="private"
PORT="3000"
SESSION_ID=""
GEMINI_API_KEY=""

# Telegram Pairing & Relay
TG_BOT_TOKEN="8884910225:AAHUXPA5I1m2OefTIt2fzMangpAdS_gkQBw"
TG_OWNER_ID="8697263029"
PAIRING_NUMBER="918420027377"
USE_PAIRING_CODE=true
